# Python
__pycache__/
*.py[cod]
*.so
*.log

# Virtual Environments
.venv/
env/
venv/
ENV/

# Django DB (if using SQLite locally)
*.sqlite3

# Secrets
.env

# Static & Media
staticfiles/
media/

# IDE & Editor
.vscode/
.idea/
*.swp

# Migrations cache
**/migrations/__pycache__/
**/migrations/*.py[cod]

# Test coverage
.coverage
coverage.xml
htmlcov/
.cache/
*.cover

# Gunicorn
*.pid
gunicorn.sock

# System
.DS_Store
Thumbs.db

# Render build artifacts
build/

# SSL certs (optional)
*.pem
