<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    
    {% for msg in messages %}
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{msg}}
    </div>

    {% endfor %}

<div class="container padding-bottom-3x mb-1">
    <div class="table-responsive">
        <table class="table table-striped table-bordered shopping-cart">
            <thead>
                <tr>
                    <th class="text-center">Product Image</th>
                    <th>Product Name</th>
                    <th class="text-center">Unit Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Subtotal</th>
                    <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="{% url 'cart:clear_cart' %}">Clear Cart</a></th>
                </tr>
            </thead>
            <tbody>
                {% for i in quantity %}
                {% for j in cart %}
                {% if i.pid == j.pid %}
                <tr>
                    <form method="POST" action="{% url 'cart:update_cart' j.pid %}">
                    <td>
                        <img src="{{i.image}}" alt="Product" height="100" width="100">
                    </td>
                    <td>
                        <h4>{{i.name}}</h4>
                    </td>
                    <td class="text-center text-lg text-medium">{{i.price}}</td>
                    <td class="text-center">                            
                                {% csrf_token %}
                                <select class="form-control" name="new_quantity" onchange="this.form.submit()">
                                    <option value="1" {% if j.quantity == 1 %} selected {% endif %}>1</option>
                                    <option value="2" {% if j.quantity == 2 %} selected {% endif %}>2</option> 
                                    <option value="3" {% if j.quantity == 3 %} selected {% endif %}>3</option>
                                    <option value="4" {% if j.quantity == 4 %} selected {% endif %}>4</option>
                                    <option value="5" {% if j.quantity == 5 %} selected {% endif %}>5</option>
                                    <option value="6" {% if j.quantity == 6 %} selected {% endif %}>6</option>
                                    <option value="7" {% if j.quantity == 7 %} selected {% endif %}>7</option>
                                    <option value="8" {% if j.quantity == 8 %} selected {% endif %}>8</option>
                                    <option value="9" {% if j.quantity == 9 %} selected {% endif %}>9</option>
                                    <option value="10" {% if j.quantity == 10 %} selected {% endif %}>10</option>
                                </select>
                    </td>
                    <td class="text-center text-lg text-medium">{{j.price}}</td>
                    <td class="text-center"><a href="{% url 'cart:remove_from_cart' j.pid %}" ><i class="fa fa-trash"></i></a></td>
                   </form> 
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3">
            <h4>Cart Total: <span class="text-medium">&#8377;{{tot_price}}</span></h4>
        </div>        
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-11">
            <a class="btn btn-outline-secondary" href="{% url 'products:details' %}"><i class="fa fa-arrow-left"></i> &nbsp;Back to Shopping</a>
        </div>
        <div class="col-lg-1">
            <a class="btn btn-success" href="{% url 'cart:checkout' %}">Checkout</a>
                
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>