<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">PharmAssist</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="http://127.0.0.1:8000/admin/">Admin</a></li>
        <li class="active"><a href="http://127.0.0.1:8000/products/details/">Details</a></li>
        <li><a href="#">Orders</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'cart:show_cart' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> View Cart</a></li>
      </ul>
    </div>
  </nav>

      {% for msg in messages %}
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{msg}}
    </div>

    {% endfor %}

  <div class="row">
    <div class="col-lg-4">
      <h3> &nbsp;Enter Details of product:</h3>
      <form class="form" action="/products/details/" method="post">
         
        <div class="form-group">
          <label class="clo-lg-8" for="sample">&nbsp;&nbsp;Name/Generic-Name:</label>
          <input type="text" class="form-control" name="sample" placeholder="Name/Generic Name"><br>
        </div>
        <div class="col-lg-4">        </div>
        <div class="col-lg-">
          <div class="form-group ">
            <button type="submit" class="btn btn-primary from-control">Submit</button>

            <button type="reset" class="btn btn-primary from-control">Reset</button>
          </div>
        </div>
          
      </form><br>
    </div>
    <div class="col-lg-8">
      
          <h3>Products:</h3>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <tr>
              <th scope="col" >ID</th>
              <th scope="col" >Name</th>
              <th scope="col" >Generic Name</th>
              <th scope="col" >Stock</th>
              <th scope="col" >Price</th>
              <th scope="col" >Image</th>
            </tr>
            {% for x in myproducts %}
            <tr>
              <th scope="row">{{ x.pid }}</th>
              <td>{{ x.name }}</td>
              <td>{{ x.generic_name }}</td>
              <td>{{x.stock}}</td>
              <td>{{x.price}}</td>
              <td><img src="{{ x.image }}" alt="image" style="width:100px;height:100px;"></td>
              {% if x in incart %}
              <td><a class="btn btn-primary disabled"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> &nbspAdded to Cart</a></td>
              {% else %}
              <td><a href="{% url 'cart:add_to_cart' x.pid %}" class="btn btn-warning "> <i class="fa fa-cart-plus" aria-hidden="true"></i> &nbsp Add to Cart</a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
        </div>
      
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4">
      
      <div class="col-lg-2">      </div>
      <div class="col-lg-">
        <a href="{% url 'products:low_stock' %}" class="btn btn-info active"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;  Low Stock &nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </a>
      </div>
    </div>
    <div class="col-lg-8">
      
          <h3>Products:</h3>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <tr>
              <th scope="col" >ID</th>
              <th scope="col" >Name</th>
              <th scope="col" >Generic Name</th>
              <th scope="col" >Stock</th>
              <th scope="col" >Image</th>
            </tr>
            {% for x in lowproducts %}
            <tr>
              <th scope="row">{{ x.pid }}</th>
              <td>{{ x.name }}</td>
              <td>{{ x.generic_name }}</td>
              <td>{{x.stock}}</td>
              <td><img src="{{ x.image }}" alt="image" style="width:100px;height:100px;"></td>
              <td><a href="/admin/products/product/{{ x.pid }}/change/" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i> Update</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4">
      
      <div class="col-lg-2">      </div>
      <div class="col-lg-">
        <a href="{% url 'products:find_exp_items' %}" class="btn btn-info active"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Expired items <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-lg-8">
      
          <h3>Products:</h3>
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <tr>
              <th scope="col" >ID</th>
              <th scope="col" >Name</th>
              <th scope="col" >Generic Name</th>
              <th scope="col" >Expiry</th>
              <th scope="col" >Stock</th>
              <th scope="col" >Image</th>
            </tr>
            {% for x in exp_products %}
            <tr>
              <th scope="row">{{ x.pid }}</th>
              <td>{{ x.name }}</td>
              <td>{{ x.generic_name }}</td>
              <td>{{x.expiry_date}}</td>
              <td>{{x.stock}}</td>
              <td><img src="{{ x.image }}" alt="image" style="width:100px;height:100px;"></td>
              <td><a href="{% url 'products:remove_product' x.pid %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
    
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</body>
</html>